
.category-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 20px;
  position: relative;

  h1 {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
  }

  &__btn {
    display: inline-block;
    padding: var(--p-btn);
    border-radius: var(--br-btn);
    background-color: var(--db-bg);
    transition: var(--tr-btn);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--bg-rgb-btn));
    }
  }
}

