* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  // backgrounds (last simbol "b"- background "t"- text style

  --dbb: #060C14;
  --gbb:#1b2a3e;

  // active backgrounds/text styles

  --aa: #3B52FB;
  --sct: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}