
.news-products {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .slide {
    background: #1b2a3e;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    width: auto;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--sct);
  }

}

.products_title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;


  button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background: var(--aa);
    color: white;
    border: solid 1px var(--aa);
  }

  button:hover {
    box-shadow: 0 0 10px 10px rgba(var(--aarbg), 0.5);
  }
}
