.header {
  background: var(--dbb);
  color: white;

  &__container {
    max-width: 1440px;
    margin:auto;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    a {
      padding: 8px;


      &:hover {
        color: var(--aa);
      }

      &.active {
        color: var(--aa);
        text-decoration: underline 2px;
        text-underline-offset: 8px;
      }
    }

    input {
      background: var(--gbb);
      border: none;
      color: white;
      width: 30%;
      padding: 8px 10px;
      border-radius: 30px;

      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}

