.popular-pr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  h1 {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    color: var(--text-w);
    width: 100%;
    height: 100%;
  }
}