.hit-pr {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &__slide {
    background: #1b2a3e;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--sct);

    img {
      width: auto;
      height: 90%;
    }
  }

  &__title {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }

  &__btn {
    display: inline-block;
    padding: var(--p-btn);
    border-radius: var(--br-btn);
    background-color: var(--dbb);
    transition: var(--tr-btn);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--bg-rgb-btn));
    }
  }
}

